<div class="navbar py-3 mb-4">
  <div class="container-fluid">
      <div class="d-flex">
          
      </div>
      <div class="d-flex align-items-center">
          <div class="top-nav-icon">
              <i class="bi bi-sun"></i>
          </div>
          <div class="top-nav-icon">
              <i class="bi bi-search"></i>
          </div>
          <div class="top-nav-icon">
              <i class="bi bi-bell"></i>
          </div>
          <div class="top-nav-icon">
              <i class="bi bi-grid-3x3-gap"></i>
          </div>
          <div class="avatar ms-3">
              <img src="https://picsum.photos//id/237/40" alt="User Avatar">
          </div>
      </div>
  </div>
</div>