<div class="navbar py-3 mb-4">
  <div class="container-fluid">
    <div class="d-flex">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <!-- <img src="https://teuzin.com.br/assets/img/logo.png" alt="Logo" class="logo" /> -->
        </a>
    </div>
    
    <div class="d-flex justify-content-center align-items-center">
      <!-- <h1 class="navbar-title">Teuzin.com.br</h1> -->
      </div>  
    <div class="d-flex align-items-center">
      <div class="top-nav-icon">
        <i class="bi bi-sun"></i>
      </div>
      <div class="top-nav-icon">
        <i class="bi bi-search"></i>
      </div>
      <div class="top-nav-icon">
        <i class="bi bi-bell"></i>
      </div>
      <div class="top-nav-icon">
        <i class="bi bi-grid-3x3-gap"></i>
      </div>
      <div class="avatar ms-3">
        
        <a href="/perfil" class="d-flex align-items-center">
          <img src="https://www.teuzin.com.br/v2/assets/user1.png" style="background-color:blueviolet;" alt="User Avatar" class="rounded-circle me-2" />
          <span>Usuario</span>
        </a>
      </div>
    </div>
  </div>
</div>
