<%- include('../partials/header.ejs') %>
<div class="app-container">
    <!-- Sidebar -->    
    <%- include('../partials/sidebar.ejs') %>
    <div class="main-content">
        <!-- nav bar superior -->
        <%- include('../partials/navbar.ejs') %> 
           
            <div class="">
                
            </div>   
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>